{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
<!--もし、published_dateの定義があれば表示-->
  {% if post.published_date %}
      <div class="date">
        <!--{{ post.published_date }}-->
        <!--<p>問題: {{ post.pk}}</p>-->
      </div>
  {% endif %}
  <p class="mb2">----------------------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h1><font size="20">■{{ post.number }}</font></h1>  
  <p class="mb10"><font size="20">{{ post.title }}</font></p>
  <p class="mb2">----------------------------------------------------------------------------------------------------------------------------------------------------------</p>

  <p><font size="15">{{ post.text|linebreaksbr }}</font></p>
    
　{% ifequal post.pk 2 %}
    <p><font size="20"><a href="{% url 'post_right' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_miss'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 3 %}
    <p><font size="20"><a href="{% url 'post_miss1' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right1'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 5 %}
    <p><font size="20"><a href="{% url 'post_right2' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_miss2'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 6 %}
    <p><font size="20"><a href="{% url 'post_miss3' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right3'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 7 %}
    <p><font size="20"><a href="{% url 'post_miss4' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right4'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 8 %}
    <p><font size="20"><a href="{% url 'post_right5' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_miss5'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 9 %}
    <p><font size="20"><a href="{% url 'post_right6' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_miss6'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 10 %}
    <p><font size="20"><a href="{% url 'post_right7' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_miss7'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 11 %}
    <p><font size="20"><a href="{% url 'post_miss8' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right8'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 13 %}
    <p><font size="20"><a href="{% url 'post_right9' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_miss9'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 14 %}
    <p><font size="20"><a href="{% url 'post_right10' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_miss10'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 15 %}
    <p><font size="20"><a href="{% url 'post_miss11' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right11'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 16 %}
    <p><font size="20"><a href="{% url 'post_miss12' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right12'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 17 %}
    <p><font size="20"><a href="{% url 'post_miss13' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right13'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 18 %}
    <p><font size="20"><a href="{% url 'post_right14' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_miss14'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 19 %}
    <p><font size="20"><a href="{% url 'post_miss15' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right15'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 20 %}
    <p><font size="20"><a href="{% url 'post_miss16' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right16'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 21 %}
    <p><font size="20"><a href="{% url 'post_miss17' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right17'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 22 %}
    <p><font size="20"><a href="{% url 'post_miss18' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right18'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 23 %}
    <p><font size="20"><a href="{% url 'post_miss19' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="20"><a href="{% url 'post_right19'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}
    
    
</div>
{% endblock %}
