{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
<!--もし、published_dateの定義があれば表示-->
  {% if post.published_date %}
      <div class="date">
        <!--{{ post.published_date }}-->
        <!--<p>問題: {{ post.pk}}</p>-->
      </div>
  {% endif %}

<!--もし、アカウントログインしていればボタンが表示-->
  {% if user.is_authenticated %}
      <!--<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>-->
  {% endif %}
  <h1>{{ post.number }}</h1>  
  <h1>{{ post.title }}</h1>
  <p>{{ post.text|linebreaksbr }}</p>
    
　{% ifequal post.pk 2 %}
    <p><font size="5"><a href="{% url 'post_right' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="5"><a href="{% url 'post_miss'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}

　{% ifequal post.pk 3 %}
    <p><font size="5"><a href="{% url 'post_right1' pk=post.pk %}">{{ post.answer1|linebreaksbr }}</a></font><p>
    <p><font size="5"><a href="{% url 'post_miss1'  pk=post.pk %}">{{ post.answer2|linebreaksbr }}</a></font><p>
  {% endifequal %}
    
</div>
{% endblock %}
