{% load static %}
<html>
  <head>
    <title>単語帳</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
    
  <body>
    <div class="page-header">
      <h1><a href="/">単語帳</a></h1>
    </div>
    <div>
      <p><font size="20">正解です</font><p>
    </div>
    <div>
      <p><font size="20">&nbsp;&nbsp;&nbsp;→<a href="/post/30/">次の問題へ</a></font></p>
    </div>      
    <div>
      <p><font size="20">&nbsp;&nbsp;&nbsp;→<a href="/">タイトルへ戻る</a></font></p>
    </div>      
  </body>
    
</html>
